
/* ===== Header ===== */

#divnav {
  width:100%;

  text-align: center;
}

.menu-area {
padding-left: 5%;
padding-right: 5%;
}

.menu-area li {
  display: inline-block;
  margin-left: auto;
    margin-right: auto; 
  }


.menu-area a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 800;
  letter-spacing: 1px;
  display: block;
  font-family: 'Bilbo Swash Caps', cursive;

  padding: 0 4px;
  font-size: 35px;
  line-height:40px;
}

.menu-area a:hover, .menu-area a:active {
  background:#8c7456;
  color:white;
}

/* ===== Background ===== */

.background {
  border-radius: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: rgb(228, 216, 201);
  

}

.banner {
width:95%;
  border-radius: 5px;
  display: block;
  margin:auto;
}


/* ===== Footer ===== */


.logos {
  margin-top:35px;
  width:95%;
  margin-left:10px;
}

.logo {
  padding-left:7%;
  padding-right:7%;

}


/* ===== Home Page ===== */

#portrait {
display: inline-block;
 margin-top: 5%;
 margin-left:25%;
 margin-right:25%;
 width:50%;


}

#name {
  display:inline-block;
  text-decoration: none;
  margin-top:10px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: 'Bilbo Swash Caps', cursive;
}

#intro {
  display:inline-block;
  text-decoration: none;
  margin-top: -30px;
  padding: 5%;
  font-weight: 300;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: 'Libre Caslon Display', serif;
}

/* ===== Works Page ===== */



.works {
  width:95%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.piecename {
  display:inline-block;
  text-decoration: none;
  padding-top: 10px;
  font-weight: 550;
  text-align: center;
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Libre Caslon Display', serif;
}

.piecedescription {
  margin-top:5px;
  font-family: 'Libre Caslon Display', serif;
}

#filler {
  height: 80px;
}

/* ===== Contact Page ===== */

.contacts {
  padding-top:20px;
}

input {
  font-family: 'Libre Caslon Display', serif;
  width: 85%;
  padding: 10px;
  display: block;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: white
}

textarea {
  font-family: 'Libre Caslon Display', serif;
  width: 85%;
  display: block;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: white
}

label {
  font-family: 'Libre Caslon Display', serif;
  padding-left: 2%;
  font-size:20px;
}

#button {
  background-color: #8C7456;
  font-family: 'Libre Caslon Display', serif;
  border-radius:3px;
  color: white;
  padding: 15px 20px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 18px;
  margin-left:30%;
  margin-bottom:15px;

}